/*Fonts stuff*/
@font-face {
    font-family: "Recoleta";
    src: url(/fonts/Recoleta-Black.ttf);
}
@font-face {
    font-family: "Lazybones";
    src: url(/fonts/Lazybones.ttf);
}

@font-face {
    font-family: "Aptos";
    src: url("/fonts/Aptos-Display.ttf");
    font-weight: 400; /* Regular weight */
    font-style: normal; /* Normal style */
}

@font-face {
    font-family: "Aptos";
    src: url("/fonts/Aptos-Display-Bold.ttf");
    font-weight: 600; /* Bold weight */
    font-style: normal;
}

@font-face {
    font-family: "Aptos";
    src: url("/fonts/Aptos-Display-Italics.ttf");
    font-weight: 400; /* Bold weight */
    font-style: normal; /* bold style */
}

/*variables*/
:root {
    --orange: #be5103;
    --black: black;
    --grey: #636363;
    --green: #7e846b;
    --title-font: "Recoleta", sans-serif;
    --logo-font: "Lazybones", sans-serif;
    --shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    --longshadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 780px) {

    .mobileinclude {
    display:none;
    }

    .mobileexclude {
        display: block;
    }

    /*page formatting*/
    main {
        padding: 0%;
        text-align: center;
        font-size: 18px;
        margin: 2% auto;
        width: 900px;
      }
    
      main p {
        margin: 10px 0px 10px;
      }
    

.three-column-grid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr; /* Left: 1 unit, Middle: 5 units, Right: 1 unit */
    gap: 10px; /* Space between columns */
  }
  
  .sidecolumn {
    padding: 20px;
    text-align: center;
    overflow: visible;
    align-items: baseline;
}

.columns {
    display: flex;
    width: 100%; /* Ensures full screen width */
    align-items: center;
    justify-content: center;
    margin: 0% auto 3%;
    gap:12px;
}

.columns p {
    padding: 0px 25px 0px
}

/* First column - 33% */
.column-33 {
    flex: 0 0 33%; /* Flex-grow: 0, Flex-shrink: 0, Width: 33% */
}

/* Second column - 66% */
.column-66 {
    flex: 0 0 66%; /* Flex-grow: 0, Flex-shrink: 0, Width: 66% */
}


/*text formatting*/
h1 {
    color: var(--orange);
    font-family: var(--logo-font);
    font-size: 65px;
    text-shadow: var(--shadow);
    margin: 10px 20px 10px; /*top, sides, bottom*/
}

h2 {
    color: var(--black);
    font-family: var(--title-font);
    font-size: 30px;
    margin: 10px 0px 10px;
}

h3 {
    color: var(--black);
    font-family: var(--title-font);
    font-size: 22px;
    margin: 10px 0px 0px;
    
}

h4 {
    font-family: var(--title-font);
    color: var(--black);
    margin: 10px 0px 0px;
    font-size: 18x;
}

.logo a {
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    display: inline-block; /* Ensure the link is treated as a block for transform */
    transition: transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
    border-bottom: none;
}

.logo a:hover {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);;
    transform: translate(2px, 2px); /* Moves the link 2px right and 2px down */
    transition: transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
}

.logomini a {
    text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.2);
    display: inline-block; /* Ensure the link is treated as a block for transform */
    transition: transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
    border-bottom: none;
}

.logomini a:hover {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);;
    transform: translate(1.5px, 1.5px); /* Moves the link 2px right and 2px down */
    transition: transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
}

a {
    color: var(--orange);
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

a:hover {
    color: var(--orange);
    text-decoration: none;
    border-bottom-color: var(--orange);
}

body {
    font-family: "Aptos";
    color:var(--grey)
}

.bio{
    font-size: 23px;
    padding: 10px 20px 10px;
}

.onedot{
    border: 0;
    border-top: 10px dotted lightgrey; /* Dotted line */
    margin: 40px auto 30px;   
    width: 20px;
}

.threedots{
    border: 0;
    border-top: 10px dotted lightgrey; /* Dotted line */
    margin: 50px auto 30px;   
    width: 75px;            
}

.container {
    margin: 20px 0px 50px;
}

/*Images*/

img {
    border-radius: 30px;
    box-shadow: var(--longshadow);
    width: 60%;
}

.socials img {
    border-radius: 0px;
    width: 30px;
    box-shadow: none;
}

.profilepic {
    border-radius: 100px;
    box-shadow: var(--longshadow);
    width: 144px;
}

/*Navigation bar*/
nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
    width: 100%; /* Ensure full width of the container */
    margin: 0px auto;
    gap: 10px;
  }
  
  .navleft {
    padding: 5px 20px 5px;
  }
  
  .navright {
    padding: 5px 20px 5px;
  }

  .navright ul {
    justify-content: end;
  }


  

.navmenu{
  list-style-type: none; /* Removes bullets */
  padding: 0;
  margin: 0;
  display: flex; /* Makes the list horizontal */
  gap: 50px; /* Adds spacing between items */
  font-family: var(--title-font);
  justify-content: center; /* Centers the entire menu within its container */
  align-items: center; /* Vertically centers items */
  font-size: 26px;
}

.navmenu2{
    list-style-type: none; /* Removes bullets */
    padding: 0;
    margin: 0;
    display: flex; /* Makes the list horizontal */
    gap: 50px; /* Adds spacing between items */
    font-family: var(--title-font);
    justify-content: center; /* Centers the entire menu within its container */
    align-items: center; /* Vertically centers items */
    font-size: 24px;
    }

    .float {
        top: 80px;
        position: sticky;
        z-index: 10;
        height: 10em;
    }

    .jump {
        margin: 0px auto;
        padding: 20px 20px 0px;
        font-size: 12px;
        text-align: left;
        line-height: 1.7;
    }
    
    .jump ul {
        list-style-type: none; 
        padding: 0px 10px;
 
    }

  .button {
    display: inline-block;
    color: white;
    background-color: var(--orange);
    border: none;
    padding: 5px 10px; /* Padding for the button */
    border-color: #be5103;
    border-radius:5px;
    border-width: 3px;
    border-style: solid;
    box-shadow: var(--longshadow);
    cursor: pointer; /* Pointer cursor on hover */
    transition: transform 0.5s ease, box-shadow 0.5s ease;

    }


.button:hover {
    display: inline-block;
    color: white;
    background-color: var(--orange);
    border: none;
    padding: 5px 10px; /* Padding for the button */
    border-color: #be5103;
    border-radius:5px;
    border-width: 3px;
    border-style: solid;
    transform: translate(4px, 4px);
    box-shadow: var(--shadow);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.bigbutton {
    display: inline-block;
    font-size: 20px;
    font-family: var(--title-font);
    background-color: var(--orange);
    color: white;
    border: none; /* No border */
    padding: 10px 20px; /* Padding for the button */
    border-color: #be5103;
    border-radius:5px;
    border-width: 3px;
    border-style: solid;
    box-shadow: var(--longshadow);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
     }

.bigbutton:hover {
    font-size: 20px;
    font-family: var(--title-font);
    background-color: var(--orange);
    color: white;
    border: none; /* No border */
    padding: 10px 20px; /* Padding for the button */
    border-color: #be5103;
    border-radius:5px;
    border-width: 3px;
    border-style: solid;
    box-shadow: var(--shadow);
    transform: translate(4px, 4px);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/*Socials Spread*/
.socials {
    margin: 35px 0px 20px
}

.sociallist{
    list-style-type: none; /* Removes bullets */
    padding: 0;
    margin: 24px 0px 24px;
    display: flex; /* Makes the list horizontal */
    gap: 50px; /* Adds spacing between items */
    justify-content: center; /* Centers the entire menu within its container */
    align-items: center; /* Vertically centers items */
}

.sociallist img {
    width: 30px;
}


.currentrolescontainer {
    display: grid;
    grid-template-columns: auto auto auto; /* 3 equal-width columns */
    grid-template-rows: auto auto;
    align-items: center;
}

.gridbox {
    padding: 0px 6px 0px;
}

.tallgridbox {
    padding: 6px;
    grid-column: span 1;
    grid-row: span 2;
    
}

.longgridbox {
    padding: 0px 6px 0px;
    grid-column: span 2;
    grid-row: span 1;
}

.borderbox {
    border-color: #be5103;
    border-radius: 33px;
    border-width: 2px;
    border-style: solid;
    padding: 10px 10px 10px;
    box-shadow: var(--longshadow);
    margin: 10px 0px 10px;
}

.borderboxgreen {
    border-color: var(--green);
    border-radius: 33px;
    border-width: 2px;
    border-style: solid;
    padding: 10px 10px 10px;
    box-shadow: var(--longshadow);
    margin: 10px 0px 10px;
}

/*Blog stuff*/
.blogpost {
    color: var(--black);
}

.blogpost a {
    color: var(--black);
}

footer {
    margin: 0px auto;
    padding: 0px 100px;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size:12px
}

}


@media screen and (max-width: 780px) {
    
    .three-column-grid {
    display: grid;
    grid-template-columns: 1fr; /* Left: 1 unit, Middle: 5 units, Right: 1 unit */
    gap: 0px; /* Space between columns */
    }

    .sidecolumn {
        display: none;
    }

    main {
        padding: 0%;
        text-align: center;
        font-size: 18px;
        margin: 2% auto;
        width: 100%;
        max-width: 480px;
    }
    
    main p {
        padding: 0px 0px 1px;
    }

    h1 {
        color: var(--orange);
        font-family: var(--logo-font);
        font-size: 65px;
        text-shadow: var(--shadow);
        margin: 10px 20px 10px; /*top, sides, bottom*/
    }
    
    h2 {
        color: var(--black);
        font-family: var(--title-font);
    }
    
    h3 {
        color: var(--black);
        font-family: var(--title-font);
        margin: 1-px 0px 0px;
    }
    
    h4 {
        font-family: var(--title-font);
        color: var(--black);
        margin: 10px 0px 0px;
    }
    
    .logo a {
        text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
        display: inline-block; /* Ensure the link is treated as a block for transform */
        transition: transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
        border-bottom: none;
    }
    
    .logo a:hover {
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);;
        transform: translate(2px, 2px); /* Moves the link 2px right and 2px down */
        transition: transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
    }
    
    .logomini a {
        text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.2);
        display: inline-block; /* Ensure the link is treated as a block for transform */
        transition: transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
        border-bottom: none;
    }
    
    .logomini a:hover {
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);;
        transform: translate(1.5px, 1.5px); /* Moves the link 2px right and 2px down */
        transition: transform 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
    }
    
    
    a {
        color: var(--orange);
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: border-bottom-color 0.3s ease, border-bottom-width 0.3s ease;
    }
    
    a:hover {
        color: var(--orange);
        text-decoration: none;
        text-shadow: none;
        border-bottom-color: var(--orange);
        transition: border-bottom-color 0.3s ease, border-bottom-width 0.3s ease;
    }
    
    body {
        font-family: "Aptos";
        color:var(--grey)
    }
    
    .bio{
        font-size: 23px;
        padding: 10px 20px 10px;
    }
    
    /*Images*/
    
    img {
        border-radius: 30px;
        box-shadow: var(--longshadow);
    }
    
    .socials img {
        border-radius: 0px;
        width: 30px;
        box-shadow: none;
    }
    
    .profilepic {
        border-radius: 100px;
        box-shadow: var(--longshadow);
        width: 144px;
    }

/*Navigation bar*/
    nav {
        display: grid;
        width: 100%; /* Ensure full width of the container */
        margin: 0px auto;
        gap: 10px;
      }
    
    .navright {
        padding: 5px 20px 5px;
      }
    
    .navmenu{
        list-style-type: none; /* Removes bullets */
        padding: 0;
        margin: 0;
        display: flex; /* Makes the list horizontal */
        gap: 30px; /* Adds spacing between items */
        font-family: var(--title-font);
        justify-content: center; /* Centers the entire menu within its container */
        align-items: center; /* Vertically centers items */
        font-size: 5vw;
      }
    
      .navmenu2{
        list-style-type: none; /* Removes bullets */
        padding: 0;
        margin: 0px 10px 0px;
        display: flex; /* Makes the list horizontal */
        font-family: var(--title-font);
        justify-content: center; /* Centers the entire menu within its container */
        align-items: center; /* Vertically centers items */
        font-size: 24px;
        }
        .navmenu2 li{
        
        }
        
      .navmenu2 p{
        display:none;
      }
    

      img {
        border-radius: 30px;
        box-shadow: var(--longshadow);
        width: 90%;
    }

    .button {
        display: inline-block;
        color: white;
        background-color: var(--orange);
        border: none;
        padding: 5px 10px; /* Padding for the button */
        border-color: #be5103;
        border-radius:5px;
        border-width: 3px;
        border-style: solid;
        box-shadow: var(--longshadow);
        cursor: pointer; /* Pointer cursor on hover */
        transition: transform 0.5s ease, box-shadow 0.5s ease;
    
        }
    
    
    .button:hover {
        display: inline-block;
        color: white;
        background-color: var(--orange);
        border: none;
        padding: 5px 10px; /* Padding for the button */
        border-color: #be5103;
        border-radius:5px;
        border-width: 3px;
        border-style: solid;
        transform: translate(4px, 4px);
        box-shadow: var(--shadow);
        transition: transform 0.5s ease, box-shadow 0.5s ease;
    }
    


    .sticky {
        position: sticky;
        z-index: 10;
        top: 40px;
        text-align: left;
        margin:0px 10px;
        }
    
    .socials img {
        border-radius: 0px;
        width: 30px;
        box-shadow: none;
    }

    .sociallist{
        list-style-type: none; /* Removes bullets */
        padding: 0;
        margin: 0px;
        display: flex; /* Makes the list horizontal */
        gap: 80px; /* Adds spacing between items */
        justify-content: center; /* Centers the entire menu within its container */
        align-items: center; /* Vertically centers items */
    }
    
    .sociallist img {
        width: 50px;
    }

    .mobileexclude {
        display: none;
    }

    .mobileinclude {
    }

    .backbutton {
        position: sticky;
        z-index: 10;
        top: 40px;
        text-align: left;
        margin:0px 10px;
    }

    .borderbox {
        border-color: #be5103;
        border-radius: 33px;
        border-width: 2px;
        border-style: solid;
        padding: 0px 20px 0px;
        box-shadow: var(--longshadow);
        margin: 10px 0px 0px;
    }
    
    .borderboxgreen {
        border-color: var(--green);
        border-radius: 33px;
        border-width: 2px;
        border-style: solid;
        padding: 10px 10px 10px;
        box-shadow: var(--longshadow);
        margin: 10px 0px 10px;
    }

    footer {
        margin: 0px auto;
        padding: 0px 10px;
        text-align: center;
        justify-content: center;
        display: flex;
        font-size:12px
    }

    .onedot{
        border: 0;
        border-top: 10px dotted lightgrey; /* Dotted line */
        margin: 40px auto 30px;   
        width: 20px;
    }
    
    .threedots{
        border: 0;
        border-top: 10px dotted lightgrey; /* Dotted line */
        margin: 50px auto 30px;   
        width: 75px;            
    }
}
