h1 {
font-family: 'Vadher';
  font-size: 46px;
  color: black;
}

h2 {
font-family: 'Vadher';
  color: black
}

body {
  font-family: 'Aptos';
font-size: 20px;
color: #3A3B3C
}

main {
  max-width: 1000px;
  padding: 0 20px;
   /* I dont understand why but padding is keeping the content centered */
  margin: 0 auto;
}

.center{
  text-align: center}

.mainbodycontent{
  max-width: 800px;
  padding: 0 20px;
   /* I dont understand why but padding is keeping the content centered */
  margin: 80px 50px auto;
}

ul {
    text-align: left;
    list-style-position: outside;
}

.menubar {
  display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 25px 117.6px; /* Add some padding if needed */
	width: 100%; /* Ensure full width */
	box-sizing: border-box;
}

.thirtysixty {
    display: flex;
    width: 95%; /* Ensures full screen width */
    align-items: center;
    justify-content: center
}

a:link { 
  text-decoration: none;
  color: #C45607;
} 
a:visited { 
  text-decoration: none;
  color: #C45607;
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

/* First column - 33% */
.column-33 {
    flex: 0 0 33%; /* Flex-grow: 0, Flex-shrink: 0, Width: 33% */
     ;
}

/* Second column - 66% */
.column-66 {
    flex: 0 0 66%; /* Flex-grow: 0, Flex-shrink: 0, Width: 66% */
}

/* Optional styling for visual clarity */
.column {
    padding: 10px;
    box-sizing: border-box; /* Includes padding and border in width calculation */
}

/* Make it responsive (optional) */
@media (max-width: 768px) {
    .column-33, .column-66 {
        flex: 0 0 100; /* Stack columns on smaller screens */
    }
}

@font-face{font-family:LS;font-style:normal;font-weight:400;font-display:fallback;src:url('LSRegular.otf') format('opentype');}
@font-face{font-family:"Aptos Mono";font-style:normal;font-weight:400;font-display:fallback;src:url('Aptos-Mono.ttf') format('truetype');}
@font-face{font-family:"Aptos Mono";font-style:normal;font-weight:700;font-display:fallback;src:url('Aptos-Mono-Bold.ttf') format('truetype');}
@font-face{font-family:"Aptos Mono";font-style:italic;font-weight:400;font-display:fallback;src:url('Aptos-Mono-Italic.ttf') format('truetype');}
@font-face{font-family:"Aptos Mono";font-style:italic;font-weight:700;font-display:fallback;src:url('Aptos-Mono-Bold-Italic.ttf') format('truetype');}
@font-face{font-family:Aptos;font-style:italic;font-weight:700;font-display:fallback;src:url('Aptos-Display-Bold-Italic.ttf') format('truetype');}
@font-face{font-family:Aptos;font-style:normal;font-weight:700;font-display:fallback;src:url('Aptos-Display-Bold.ttf') format('truetype');}
@font-face{font-family:Aptos;font-style:italic;font-weight:400;font-display:fallback;src:url('Aptos-Display-Italic.ttf') format('truetype');}
@font-face{font-family:Aptos;font-style:normal;font-weight:400;font-display:fallback;src:url('Aptos-Display.ttf') format('truetype');}
@font-face{font-family:Vadher;font-style:normal;font-weight:400;font-display:fallback;src:url('Vadher.ttf') format('truetype');}
